body {
    font-size: 16px;
}

button:focus,
button:active {
    outline: none;
}


/* NAVBAR */
.bs-nav {
    background-color: #4e007b;
    padding: 15px;
    display: flex;
}

.top-nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #45006d;
    z-index: 2;
}

.gm-nav {
    background-image: url("https://images.unsplash.com/photo-1498409785966-ab341407de6e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    border-bottom-color: rgba(0, 0, 0, 0.4) !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.bottom-nav{
    border-top: 1px solid #45006d;
    padding: 20px;
}


.menu,
.logo,
.register {
    width: 33.3%;
}

.logo {
    text-align: center;
}

.register {
    text-align: right;
}

.register-ipad {
    display: none;
}

.logo img {
    width: 9em;
}

.menu-btn {
    background-color: transparent;
    border-width: 0px;
    color: #fed255;
    margin-top: 2%;
    margin-left: 1em;
    padding: 5px;
    font-size: 1.2em;
}

.menu-btn:hover {
    color: #cea841;
}

.menu-btn i {
    margin-right: 10px;
}

.btn-bs {
    margin-top: .2em;
    margin-bottom: .6em;
    margin-right: 5px;
    padding: 10px;
    border-width: 0;
    border-radius: 7px;
    font-weight: 900;
    font-size: 0.8em;
}

.yellow-btn {
    background-color: #fed255;

}
.yellow-btn:hover {
    background-color: #cea841;
}

.black-btn {
    background-color: #000;
    color: #fed255;
}

.black-btn:hover {
 background-color: #111;
}

/* BANNER */

.banner {
    background-color: #4e007b;
    
    color: white;
    text-align: center;
}

.banner-top {
    padding: 6em 0 4em 0;
}

.banner-bottom {
    padding: 2.5em 0;
}

.banner a {
    color: #fed255;
    font-weight: 900;
    text-decoration: underline;
}

.banner a:hover {
    color: #cea841;
}

.banner > p {
   display: inline-block;
   margin: 1em auto;
}

.banner button{
    padding: .8em 1.3em;
    margin-top: 1em;
}

.banner h1,
.banner h2 {
    padding: 3% 0;
    font-size: 3em;
    font-weight: bolder;
    width: 80%;
    margin: 0 auto;
}

.banner .banner-text {
    width: 60%;
    margin: 0 auto;
}

/* curved-background */

.top-curved-bg {
    background-image: linear-gradient(-12deg, white 49.7%, #4e007b 50% );
    height: 70vh;
    margin-top: -1vh;
}

.bottom-curved-bg {
    background-image: linear-gradient(-12deg, #4e007b 49.7%, white 50% );
    height: 70vh;
    margin-top: -70vh;
    margin-bottom: -1vh;
}

.margin-minus {
    margin-top: -72vh;
}

/* CARDS */

.card {
    display: block;
    border-width: 0;
    border-radius: 0.71em;
    box-shadow: 2px 1px 11px 2px rgba(0,0,0,0.5);
    margin: 3% 3%;
    height: 90%;
}

.card .card-header {
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


.card .card-body {
    padding-top: 1.5em;
    padding-bottom: 2em;
}

.card .card-header img {
    width: 50%;
}

#section  a {
    color: black;
}

#section a:hover {
    text-decoration: none;
}

.card .card-body .media-lp .media-right {
    width: 4em;
    height: 4em;
    padding: 7px;
    border-radius: 50%;
    background: black;
    text-align: center;
}
.card .card-body .media-lp .media-right img {
    width: 80%;
    margin: .3em 0;
}

.media-lp .media-body {
    margin-left: 10px;
}

.media-lp .media-body h5 {
    font-size: 1em;
    font-weight: 900;
}

.media-lp .media-body p {
    font-size: 1em;
}

.media-lp .media-body .time{
    font-size: 0.9em;
    font-weight: 600;
    color: gray;
}

#section .media-lp .media-body p span {
    color: green;
}

.media-lp .media-body h4 {
    font-size: 1em;
    margin: 0;
}

/* Sidenav */

.sidenav {
    height: 100%;
    width:0;
    position:fixed;
    background-color:#fff;
    overflow-x:hidden;
    transition: .3s;
    z-index: 4;
}

.opacity {
    height: 100%;
    width:0;
    position:fixed;
    top:0;
    left:0;
    background-color:rgba(0,0,0,0.5);
    overflow-x:hidden;
    padding-top:60px;
    z-index: 3;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration:none;
    color: #000;
    font-size: 1.2em;
    display: block;
    transition: 0.3s
}
  
.sidenav a:hover,
.sidenav .sidenav-header #closebtn:hover {
    color: #818181;
}
.sidenav a:focus,
.sidenav a:active {
    outline: none;
}
.sidenav .sidenav-header {
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
}
.sidenav .sidenav-header #closebtn {
    background-color: transparent;
    border-width: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    margin-right: 1em;
}

.sidenav .sidenav-header #closebtn i {
    margin-right: 5px;
    font-size: 1.3em;
}

.sidenav .sidenav-header .side-logo {
    display: flex;
    width: 50%;
}

.side-logo img {
    width: 100%;
    height: 2em;
    padding-top: 5px;
}
  
#main {
      transition: margin-left .5s;
      padding: 20px;
}
.sidenav ul {
    margin-top: 5em;
    padding: 0;
}

.sidenav ul li {
    list-style-type: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.sidenav ul li:first-child a,
.sidenav ul li:nth-child(2) a {
    color: #fed255;
}

.sidenav ul li:first-child a:hover,
.sidenav ul li:nth-child(2) a:hover {
    color: #cea841;
} 

/* Footer */
footer .links {
    width: 44%;
}

footer .links ul {
    list-style-type: none;
    margin:0 5vw 0 0;
    padding: 0;
    float: right;
}

footer .link-icons ul {
    margin-right: 11em;
} 

footer .links ul li {
    display: inline;
}

footer .link-text {
    padding-top: .5em;
}

footer .link-icons ul li a {
    color: #fed255;
    font-size: 1.5em;
    margin: 0 .8em;
}

footer .link-icons ul li a:hover {
    color: #cea841;
}

footer .link-text ul li a {
    color: #fff;
    font-size: 1em;
    margin: 1em .5em;
}

footer .link-text ul li a:hover {
    text-decoration: none;
    color: #d3d3d3;
} 

/* Games Pages */

.game-page {
    height: 90vh;
    background-image: url("https://images.unsplash.com/photo-1498409785966-ab341407de6e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 66%, 0 89%);
    padding-top: 10em;
}

.game-page .register-ipad {
    text-align: center;
    margin-top: -3em;
    margin-bottom: 2em;
}
.game-page .header-img {
    width: 16em;
    height: 16em;
    background-color: #000;
    border-radius: 50%;
    margin-left: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-page .header-img img{  
    width: 60%;
}
.container > .row > div h3 {
    font-weight: 900;
    font-size: 3em;
    margin-bottom: 0.5em;
}
.container .game-spec {
    background-color: #ebebeb;
    padding: 2em 1em 1.5em 1em;
    border-radius: 1em;
}

.media-gm .media-left {
    margin: 0 0.5em;
}

.media-gm .media-body h4{
    font-size: 1em;
    font-weight: 600;
}

.media-gm .media-body p{
    font-size: 0.7em;
    margin: 0.1em 0;
}

.container .explanation {
    padding: 2em 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.container .explanation h5 {
    font-size: 1.2em;
    font-weight: 600;
    margin: 0 0 .6em 0;
}
.container .explanation:last-child {
    border-bottom-width: 0;
    margin-bottom: -10vh;
}

.bottom-curved-gm {
    background-image: linear-gradient(-12deg, #4e007b 49.7%, white 50% );
    height: 41vh;
    margin-bottom: -1vh;
}


@media only screen and (min-width : 1820px) {
    body {
        font-size: 36px;
    }
    .game-page img{  
        width: 12em;
        margin-top: -2em;
    }
    .media-gm .media-left i {
        font-size: 1.2em;
    }
    .media-gm .media-body h4 {
        font-size: .7em;
    }
    .media-gm .media-body p {
        font-size: .6em;
    }
    .top-nav .register {
        padding-top: .4em;
    }
}
@media only screen and (max-width : 1120px) {
    body {
        font-size: 16px;
    }
    .register {
        display: none;
    }
    .register-ipad{
        display: block;
    }
    .card .card-header img {
        width: 50%;
    }
    footer .link-icons ul {
        margin-right: 5em;
    }
    .game-page img{  
        width: 12em;
        margin-top: -1em;
    } 
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 15px;
    }
    .register-ipad{
       margin-top: 0 !important;
       margin-left: 1em;
    }
    .card .card-header img {
        width: 50%;
    }
    .banner h1 {
        font-size: 2.3em;
    }
    footer {
        position: relative;
        height: 18em;
    } 
    footer .link-icons {
        position: absolute;
        top: 1em;
        right: 24vw;
        width: 90%;
        font-size: 1.3em;
    }
    footer .link-text {
        position: absolute;
        top: 5em;
        right: 29vw;
        width: 90%;
        font-size: 1.3em;

    }
    footer .logo {
        position: absolute;
        top: 12em;
        right: 37vw;
    }

    footer .logo img {
        width: 90%;
    }
    
    .top-nav .logo {
        padding-left: 3em;
    }
    .game-page .header-img  {
        margin: 0 auto;
    } 
    .game-page .header-img img {
        width: 70%;
    }
}
@media only screen and (max-width: 425px) {
    .card .card-header {
        display: none;
    }
    footer {
        position: relative;
        height: 18em;
    } 
    footer .link-icons {
        position: absolute;
        top: 1em;
        right: 5vw;
        width: 90%;
        font-size: 1.3em;
    }
    footer .link-text {
        position: absolute;
        top: 5em;
        right: 17vw;
        width: 90%;
        font-size: 1.3em;

    }
    footer .logo {
        position: absolute;
        top: 12em;
        right: 36vw;
    }

    footer .logo img {
        width: 90%;
    }
    
    .top-nav .logo {
        padding-left: 3em;
    }

    .banner h2 {
        font-size: 2em;
    }
}
@media only screen and (max-width: 375px) {
    footer .link-icons {
        right: 0;
        width: 80%;
    }
    footer .link-text {
        right: 2.8em;
        width: 80%;

    }
    footer .logo {
        right: 9.5em;
    }
} 
@media only screen and (max-width: 320px) {
    footer .link-icons {
        font-size: 1.1em;
        right: 0em;
    }
    footer .link-text {
        font-size: 1.1em;
        right: 3em;
    }
    footer .logo {
        top: 10em;
        right: 8em;
    }
    footer {
        height: 14em;
    }
    .game-page .header-img {
        text-align: center;
    } 
    .game-page .header-img img {
        margin: 0;
        width: 12em;
    } 
} 

